@import url("https://fonts.cdnfonts.com/css/another-x-display-tfb");
@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");

body,
html {
	margin: 0;
	padding: 0;
	height: 100vh;
	font: 1rem "Silkscreen";
	box-sizing: border-box;
	color: #737373;
	overflow: hidden;
	user-select: none;
}

.background-image {
	position: absolute;
	left: -10px;
	top: -10px;
	background-image: url("/static/assets/images/background.jpg");
	width: calc(100% + 20px);
	height: calc(100% + 20px);
	filter: contrast(130%) sepia(70%) blur(3px);
	z-index: -1;
	/* animation: fallBackground 5s linear infinite; */
}

/*  MENU CONTAINER STYLES  */
.main-menu-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}

/* TITLE STYLES */
.heading {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	font: 8rem "Another X Display tfb", san-serif;
	font-style: italic;
	text-shadow: #3533cd 10px 10px 0px, #3533cd 0 0 10px, white 0 0 20px, white 0 0 30px, white 0 0 40px;
	color: white;
	/* animation: glow 1.5s ease-in-out infinite alternate; */
}

/* TITLE BORDER STYLES */
.heading::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to bottom, transparent 60%, #3533cd 100%);
	z-index: -1;
	border-radius: 15px;
}

/* START GAME/HIGH SCORE/GAME OVER TITLE STYLES */
.sub-heading {
	font-size: 1.8rem;
	color: white;
}

/* MENU WRAPPER */
.main-menu-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	width: 400px;
	padding: 1.5rem;
	background-color: #1a1a1a;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	position: relative;
}

/* BORDER STYLES */
.main-menu-wrapper::after {
	content: "";
	position: absolute;
	width: 102%;
	height: 107%;
	background-image: linear-gradient(to bottom, transparent 60%, #3533cd 100%);
	z-index: -1;
	border-radius: 15px;
}

/* PLAY GAME / HOW-TO-PLAY */
.main-menu-options {
	font-size: 1rem;
	cursor: pointer;
	position: relative;
}

.main-menu-options::before {
	content: ">> ";
	color: transparent;
	position: absolute;
	left: -25px;
	transition: color 0.3s;
}

.main-menu-options:hover {
	color: #febd59;
	transition: color 0.3s;
	transform: scale(1.1);
}

.main-menu-options:hover::before {
	color: #febd59;
}

/* MAIN GAME PAGE STYLES */
.game-container {
	display: none;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	width: 80%;
	height: 100vh;
	gap: 1rem;
}

.game-container .heading {
	font-size: 6rem;
	margin: 0;
}

/* GAME INFO / BOARD / SCORES / CONTROLS CONTAINER */
.game-wrapper {
	display: grid;
	grid-template-columns: 0.5fr 2fr 0.5fr;
	position: relative;
	gap: 1rem;
	background-color: #1a1a1a;
	border: 10px dotted #3533cd;
	border-radius: 30px;
	padding: 0 1rem;
	z-index: 99;
}

.info-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
}

.game-button {
	background: linear-gradient(to bottom, transparent 50%, #3533cd 90%);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	color: #a6a6a6;
	border: 2px solid #737373;
	cursor: pointer;
}

.game-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.1rem;
	position: relative;
	padding: 10px 5px;
}

.game-info::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5px;
	background: radial-gradient(circle at 50% 50%, #3533cd, transparent 100%, transparent 100%);
	mask-image: radial-gradient(circle, black 3px, transparent 3px);
	mask-size: 8px 8px;
	mask-repeat: repeat-x;
}

/* LEFT-INFO SECTION PANEL */
.buttons-wrapper {
	display: flex;
	gap: 1rem;
}

.game-button-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.3rem;
}

.game-button-wrapper span {
	font-size: 0.7rem;
	font-weight: 500;
	color: #737373;
}

.game-info.next-queue,
.game-info.hold-block {
	gap: 0.5rem;
}

.game-info.next-queue::after,
.game-info.hold-block::after {
	background: none;
	mask-image: none;
}

.game-info span:nth-child(1) {
	font-size: 1.2rem;
}

.next-queue,
.hold-block {
	width: 100%;
	border: 4px dotted #3533cd;
	border-radius: 10px;
	margin: 10px 0;
}

.next-queue {
	height: 200px;
}

.hold-block {
	height: 80px;
}

.next-piece,
.hold-piece {
	width: 50px;
	height: 50px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	transform: rotate(90deg);
}

.next-piece div,
.hold-piece div {
	width: 20px;
	height: 20px;
	border-radius: 4px;
}

#next-piece-1,
#next-piece-2,
#next-piece-3,
#hold-piece {
	width: 50px;
	height: 50px;
	display: grid;
}

/* MAIN GAME GRID SECTION */
.board-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border-left: 8px dotted #3533cd;
	border-right: 8px dotted #3533cd;
}

.board-section {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	margin: 0 auto;
	border-radius: 10px;
	border: 4px dotted #3533cd;
}

/* MAIN GAME GRID INDIVIDUAL CELLS */
.block {
	width: 15px;
	height: 15px;
	border: 4px solid rgb(54, 42, 137, 0.4);
	border-top-color: rgba(54, 42, 137, 0.1);
	border-right-color: rgba(54, 42, 137, 0.5);
	border-bottom-color: rgba(54, 42, 137, 0.5);
	border-left-color: rgba(54, 42, 137, 0.2);
	border-radius: 6px;
}

/* RIGHT-INFO SECTION PANEL */
.lives {
	font-size: 24px;
	padding-bottom: 10px;
}

.scores-wrapper {
	display: flex;
	gap: 2rem;
	justify-content: center;
	position: relative; /* Required for positioning the pseudo-element */
	padding-bottom: 20px; /* Space between text and border */
}

.scores-wrapper::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5px; /* Height of the border */
	background: radial-gradient(circle at 50% 50%, #3533cd, transparent 100%, transparent 100%);
	mask-image: radial-gradient(circle, black 3px, transparent 3px);
	mask-size: 8px 8px;
	mask-repeat: repeat-x;
}

.scores-wrapper > div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	justify-content: space-between;
}

.controls {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	gap: 0.5rem;
}

.control-buttons-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}

.control-buttons-row {
	display: flex;
	justify-content: space-between;
	gap: 0.5rem;
	width: 100%;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltip-text {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	font-size: 0.8rem;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
	visibility: visible;
	opacity: 1;
}

/* GAME OVER SECTION */
.main-menu-container.game-over {
	display: none;
	position: relative;
}

.main-menu-wrapper.game-over::after {
	background: linear-gradient(to bottom, transparent 60%, #737373 100%);
}

.heading.game-over {
	text-shadow: #1a1a1a 10px 10px 0px, #1a1a1a 0 0 10px, white 0 0 20px, white 0 0 30px, white 0 0 40px;
	text-wrap: nowrap;
	/* animation: glowGameOver 1.5s ease-in-out infinite alternate; */
}

.heading.game-over::after {
	background-image: linear-gradient(to bottom, transparent 60%, #737373 100%);
}

.final-stats {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	row-gap: 1rem;
	column-gap: 1rem;
	padding: 1rem;
	color: white;
	border-radius: 10px;
	margin-bottom: 50px;
	background: linear-gradient(180deg, rgba(115, 115, 115, 0.5), rgba(0, 0, 0, 1), rgba(115, 115, 115, 0.5));
}

.final-stat-info-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-menu-options-wrapper {
	display: flex;
	gap: 3rem;
}

.main-menu-container.game-over > .main-menu-wrapper > .sub-heading {
	font-size: 1.5rem;
}

/* GENERAL SETTINGS */
.btn {
	width: 55px;
	height: 55px;
	box-shadow: -5px 5px 10px #c4c7ca, 5px -5px 10px #ffffff;
	border-radius: 25px;
	font-weight: 600;
	font-size: 30px;
	color: #243441;
	border: none;
	outline: none;
	background-color: #ecf0f3;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn:active {
	box-shadow: inset -5px 5px 10px #c4c7ca, inset 5px -5px 10px #ffffff;
}

/* VOLUME TOGGLE */
i.fa-volume-high {
	display: block;
	font-size: 15px;
}

i.fa-volume-xmark {
	display: none;
	font-size: 15px;
}

body.muted i.fa-volume-high {
	display: none;
}

body.muted i.fa-volume-xmark {
	display: block;
}

/* PAUSE DIALOG */

.pause-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 30px;
	padding: 20px;
	gap: 1rem;
	text-align: center;
}

.pause-title {
	font-size: 1.8rem;
	color: #fff;
	margin: 0;
}

.pause-button {
	background-color: transparent;
	border: none;
	color: #fff;
	font-family: "Silkscreen", cursive;
	font-size: 1rem;
	cursor: pointer;
	position: relative;
}

.pause-button::before {
	content: ">> ";
	color: transparent;
	position: absolute;
	left: -25px;
	transition: color 0.3s;
}

.pause-button:hover {
	color: #febd59;
	transition: color 0.3s;
	transform: scale(1.1);
}

.pause-button:hover::before {
	color: #febd59;
}

.game-button-wrapper.pause > .game-button {
	width: 40px;
	height: 40px;
}

.game-button-wrapper.pause > .game-button > i {
	font-size: 1.2rem !important;
}

.game-button-wrapper.pause {
	flex-direction: row;
	gap: 3rem;
}

.pause-dialog,
.how-to-dialog {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 30%, rgba(53, 51, 205, 0.5) 100%);
	border: none;
	border-radius: 30px;
	padding: 20px;
	color: #fff;
}

.pause-dialog::backdrop,
.how-to-dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.5);
}

/* HOW-TO-PLAY DIALOG */
.how-to-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
}

.how-to-title {
	align-self: center;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
}

.how-to-controls-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.how-to-control-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}

.game-button.space {
	width: 100px;
	margin-top: 10px;
}

/*  GAME STATE  */
.board-section,
.info-section {
	transform: scale(0);
}

.play .board-section,
.play .info-section {
	transform: scale(1);
}

.play .main-menu-container {
	/* transform: scale(0); */
	display: none;
}

.play .game-container {
	display: flex;
}

.play #btn-pause {
	display: flex;
}

.pause #btn-new-game,
.end #btn-new-game {
	display: block;
}

.end {
	display: block;
}

.end #btn-play {
	display: none;
}

#btn-new-game,
#btn-pause {
	display: none;
}

/*  ANIMATION  */
@keyframes fallBackground {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 0 100%;
	}
}

@keyframes glow {
	from {
		text-shadow: #3533cd 10px 10px 0px, #3533cd 0 0 10px, white 0 0 20px, white 0 0 30px, white 0 0 40px;
	}
	to {
		text-shadow: #3533cd 10px 10px 0px, #3533cd 0 0 20px, #3533cd 0 0 30px, #3533cd 0 0 40px, #3533cd 0 0 50px;
	}
}

@keyframes glowGameOver {
	from {
		text-shadow: #1a1a1a 10px 10px 0px, #1a1a1a 0 0 10px, white 0 0 20px, white 0 0 30px, white 0 0 40px;
	}
	to {
		text-shadow: #1a1a1a 10px 10px 0px, #1a1a1a 0 0 20px, #1a1a1a 0 0 30px, #1a1a1a 0 0 40px, #1a1a1a 0 0 50px;
	}
}

/*  RESPONSIVENESS MEDIA QUERY  */
@media only screen and (max-width: 425px) {
	.heading {
		font-size: 4rem;
	}

	.sub-heading {
		font-size: 1.2rem;
	}

	.main-menu-wrapper {
		width: 60%;
		height: 15%;
		border-radius: unset;
		box-shadow: unset;
	}

	.main-menu-options {
		font-size: 0.8rem;
	}

	.block {
		width: 15px;
		height: 15px;
	}

	.game-wrapper {
		box-shadow: unset;
		border-radius: unset;
		padding-bottom: 10px;
	}

	.setting-section {
		padding: unset;
		margin-top: -40px;
	}

	.play .setting-section {
		position: absolute;
		flex-direction: column;
		bottom: unset;
		top: 50%;
		transform: translateY(-50%);
		right: 2px;
		padding: unset;
	}

	.setting-section button {
		margin-bottom: 15px;
	}
}
