@import url('https://fonts.cdnfonts.com/css/another-x-display-tfb');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow: hidden;
  cursor: default;
}

body {
  font: 1rem 'Silkscreen';
  color: #737373;
}

.background-image {
  position: absolute;
  left: -10px;
  top: -10px;
  background-image: url("/static/assets/images/background.jpg");
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  filter: contrast(130%) sepia(70%) blur(3px);
  z-index: -1;
} 

/* CONTAINER FOR TITLE AND MAIN MENU OPTIONS */
.main-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* TITLE STYLES */
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font: 8rem 'Another X Display tfb', san-serif;
  text-shadow:#3533cd 0px 10px 0px;
  color: white;
}

/* TITLE BORDER STYLES */
.heading::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent 60%, #3533cd 100%);
  z-index: -1;
  border-radius: 15px;
}

/* START / NEW / CONTINUE GAME CONTAINER */
.main-menu-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 400px;
  padding: 1.5rem;
  background-color: #1a1a1a;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: relative;
}

/* BORDER STYLES */
.main-menu-options::after {
  content: "";
  position: absolute;
  width: 102%;
  height: 107%;
  background-image: linear-gradient(to bottom, transparent 60%, #3533cd 100%);
  z-index: -1;
  border-radius: 15px;
}

/* START GAME & GAME OVER TITLE STYLES */
.sub-heading {
  font-size: 1.8rem;
  color: white;
}

/* NEW GAME / CONTINUE GAME */
.main-menu-option {
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
}

.main-menu-option::before {
  content: ">> ";
  color: transparent;
  position: absolute;
  left: -25px; 
  transition: color 0.3s;
}

.main-menu-option:hover {
  color: #febd59;
  transition: color 0.3s;
  transform: scale(1.1);
}

.main-menu-option:hover::before {
  color: #febd59;
}

/* MAIN PAGE FOR GAME */
.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  gap: 2rem;
}

/* GAME INFO / GRID / SCORES / CONTROLS CONTAINER */
.game-container .heading {
  font-size: 6rem;
  margin: 0;
  padding-top: 2rem;
}

.game-grid-container {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  gap: 1rem;
  background-color: #1a1a1a;
  border: 10px dotted #3533cd;
  border-radius: 30px;
  padding: 1rem;
}

.game-grid-options-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.game-grid-options-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.game-grid-options-container span {
  font-size: 0.5rem;
}

.game-grid-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
}

.game-grid-option-icon {
  background: linear-gradient(to bottom, transparent 50%, #3533cd 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  color: #a6a6a6;
  border: 2px solid #737373;
}

.game-grid-option span {
  font-size: 0.8rem;
}

.game-grid-info-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.game-grid-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;
  position: relative; /* Required for positioning the pseudo-element */
  padding-bottom: 20px; /* Space between text and border */
}

.game-grid-info::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px; /* Height of the border */
  background: radial-gradient(circle at 50% 50%, #3533cd, transparent 100%, transparent 100%);
  mask-image: radial-gradient(circle, black 3px, transparent 3px);
  mask-size: 8px 8px;
  mask-repeat: repeat-x;
}

.game-grid-other-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.game-grid-other-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.game-grid-other-info-lives {
  color: #F15D42;
}

.game-grid-scores {
  display: flex;
  gap: 1rem;
  justify-content: center;
  position: relative; /* Required for positioning the pseudo-element */
  padding-bottom: 20px; /* Space between text and border */
}

.game-grid-scores::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px; /* Height of the border */
  background: radial-gradient(circle at 50% 50%, #3533cd, transparent 100%, transparent 100%);
  mask-image: radial-gradient(circle, black 3px, transparent 3px);
  mask-size: 8px 8px;
  mask-repeat: repeat-x;
}

.game-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.game-controls-container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.game-controls-container span {
  text-align: center;
}

.controls {
  border: 2px dotted #3533cd;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  align-items: center;
}

.game-grid-options-container.controls-options {
  display: flex;
  gap: 0.3rem;
}

.controls-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.5rem;
}

.grid-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-left: 8px dotted #3533cd;
  border-right: 8px dotted #3533cd;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 20px);
  grid-template-rows: repeat(20, 20px);
  gap: 1px;
  border: 4px dotted #3533cd;
  border-radius: 10px;
}

.grid div {
  width: 20px;
  height: 20px;
  border: 1px solid rgb(54, 42, 137, 0.4);
}

.tetromino {
  background-color: #ccc;
  border: 1px solid #333;
}


.O-shape { background-color: #ffde59; }
.I-shape { background-color: #ff914d; }
.T-shape { background-color: #8c52ff; }
.L-shape, .J-shape { background-color: #38b6ff; }
.Z-shape, .S-shape { background-color: #d33c2d; }

.game-over-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.game-over-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 400px;
  padding: 1.5rem;
  background-color: #1a1a1a;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: relative;
}

.game-over-options::after {
  /* BORDER STYLES */
  content: "";
  position: absolute;
  width: 102%;
  height: 107%;
  background-image: linear-gradient(to bottom, transparent 60%, #3533cd 100%);
  z-index: -1;
  border-radius: 15px;
}

.game-over-option {
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
}

.game-over-option::before {
  content: ">> ";
  color: transparent;
  position: absolute;
  left: -25px; 
  transition: color 0.3s;
}

.game-over-option:hover {
  color: #febd59;
  transition: color 0.3s;
  transform: scale(1.1);
}

.game-over-option:hover::before {
  color: #febd59;
}

