{
	"bracketSameLine": false,
	"arrowParens": "avoid",
	"quoteProps": "as-needed",
	"singleQuote": false,
	"trailingComma": "all",
	"useTabs": true,
	"bracketSpacing": true,
	"tabWidth": 2,
	"semi": true,
	"printWidth": 120,
	"endOfLine": "auto"
}
